{% extends 'layout.html'%}
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="width:100%;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Neev @ IITGN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left:auto;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project-cont">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team-cont">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-cont">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="banner" >
    <div style="color:white" class="container w-50">
        <p class="display-2">
            NEEV
        </p>
        <p class="blockquote">
            NEEV is an IIT Gandhinagar community outreach program. It is actively working to bridge the knowledge and communication gap by offering comprehensive training and mentoring, and growing the employability and entrepreneurship mind set of the surrounding communities.
        </p>
        <p>
            NEEV's mission is to empower grassroots communities through workforce development, with a focus on entrepreneurship and skills training. NEEV’s focus beneficiaries include youth and women from rural and urban localities from the areas surrounding IIT Gandhinagar.
        </p>
        <div class="butttons container " >
            <div>
                <button type="button" class="btn btn-primary m-2" >
                    Brochure in English
                 </button>
                 <button type="button" class="btn btn-danger m-2" >
                     Brochure in Hindi
                 </button>
            </div>
           <div>
            <button type="button" class="btn btn-primary m-2" >
                Annual Report 2021-22 in English
             </button>
             <button type="button" class="btn btn-danger m-2" >
                Annual Report 2021-22 in Hindi
             </button>
           </div>
         
        </div>
    </div>

</div>


<div class="projects  m-5" id="project-cont">
    <div class="display-5">Projects</div>
    <div class="project-cards container">
       
              <div class="card m-3 w-25">
                <div class="card-body">
                    <img src="https://iitgn.ac.in/assets/img/outreach/neev/neev1.jpg" alt="" class="card-img-top">
                  <h5 class="card-title">Entrepreneurship Development Workshop</h5>
                  <p class="card-text">This 5-day workshop includes session on idea generation, market research, negotiation, cost analysis, and financials. Role play, interactive activities and other participatory methods have been incorporated to ensure participants from all education backgrounds will benefit.</p>
                 
                </div>
              </div>
              <div class="card m-3 w-25">
                <div class="card-body">
                    <img src="https://iitgn.ac.in/assets/img/outreach/neev/neev2.jpg" alt="" class="card-img-top">

                  <h5 class="card-title">Entrepreneurship Awareness Session
                </h5>
                  <p class="card-text">The purpose of these sessions is to create awareness about entrepreneurship being a viable avenue of livelihood generation, and motivate participants towards the same.</p>
                 
                </div>
              </div>
              <div class="card m-3 w-25">
                <div class="card-body">
                    <img src="https://iitgn.ac.in/assets/img/outreach/neev/neev3.jpg" alt="" class="card-img-top">

                  <h5 class="card-title">Vocational Skills Training Course</h5>
                  <p class="card-text">This 8-week course includes basic training in trades such as wiring, machining, carpentry, machining, welding and plumbing. The modules also incorporate business skills, soft skills and exposure visit to local industries.</p>
                 
                </div>
              </div>
            
    </div>
</div>

<div class="container teams" id="team-cont">
    <div class="card m-3" style="width: 12rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Member Name</h5>
          <p class="card-text">Designation</p>
        
        </div>
      </div>
      <div class="card m-3" style="width: 12rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Member Name</h5>
          <p class="card-text">Designation</p>
        
        </div>
      </div>
      <div class="card m-3" style="width: 12rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Member Name</h5>
          <p class="card-text">Designation</p>
        
        </div>
      </div>
      <div class="card m-3" style="width: 12rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Member Name</h5>
          <p class="card-text">Designation</p>
        
        </div>
      </div>
      <div class="card m-3" style="width: 12rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Member Name</h5>
          <p class="card-text">Designation</p>
        
        </div>
      </div>
      <div class="card m-3" style="width: 12rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Member Name</h5>
          <p class="card-text">Designation</p>
        
        </div>
      </div>
</div>



<div class="contact p-5" id="contact-cont">
    <div class="container w-50 ">
        <p class="display-6">Get Involved</p>
        <div class="font-weight-light">
            Volunteer in our Program <br>
            Donate material <br>
            Host a fundraising event with us <br>
            Philanthropic support <br>
            Assist us with networking and marketing 
        </div>
       
    </div>
    <div class="container w-50 ">
        <p class="display-6">Contact</p>
        <div class="font-weight-light">
            AB 6/304 <br>
            IIT Gandhinagar <br>
            Phone: 079 - 23951248 <br>
            Email: neev@iitgn.ac.in <br>
           Facbook: <a href="https://www.facebook.com/Neeviitgn">https://www.facebook.com/Neeviitgn</a>  
        </div>
     
    </div>
</div>
<footer class="footer p-2" style="background-color: black; color: white;">
    This website is inspired from <a href="https://www.iitgn.ac.in/about/outreach/neev">Neev Website</a>
</footer>
<style>
    .banner
    {
        background-image:  linear-gradient(to top right, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 60%),url("https://iitgn.ac.in/assets/img/neev_header.png");
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        display: flex;
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .teams
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .contact
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #f5f5f5;
        padding: 20px;
    }
    .project-cards
    {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>
{% endblock content %}